@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: hsl(241, 9%, 9%);
  --background: hsl(250, 19%, 88%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: hsl(250, 19%, 88%);
    --background: hsl(241, 9%, 9%);
  }
}

body {
  color: var(--foreground);
  background: var(--background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}